<footer class="site-footer">
  <small>
    Website built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> on <a href="https://pages.cloudflare.com/" target="_blank">Cloudflare Pages</a>.
    Theme based on <a href="{{ pkg.repository.url }}" target="_blank">Fernfolio</a> by <a href="https://tylerroderick.com/" target="_blank">Tyler Roderick</a>.
  </small>
</footer>
